*, *:before, *:after {
  
  margin: 5;
  padding: 5;
  box-sizing: border-box;
}
.container{
  margin-left: 4%;
  margin-top: 2%;
  width: 90%;
}
table {
  background: #1c9ba096;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  background: #146669b2;
  border-bottom: 1px solid #364043;
  /* border:0.1px solid black; */
  color: #ffffff;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
  width: auto;
  border:0.5px solid blanchedalmond;
}
tbody tr {
  transition: background 0.22s ease;
}
tbody tr:hover {
  background: #27a8b1;
}
  
  form {
    display: flex;
    gap: 9px;
    background-color: rgba(255, 254, 254, 0.068);
  }
  
  form td:last-child {
    display: flex;
    white-space:pre;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 15px;
  }
  button {
	color: #fff;
  background: #177277c9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
  height: 100%;
	font-size: 15px;
	padding: 5px;
	margin: 10px 10px;
  }
  button:hover{
    background: #364201c9;
  }
  /* .form-box input{
      margin: 10px 0px;
      border:1px solid rgba(0, 165, 157, 0.548);
      padding: 8px;
      border-radius: 5px;
      width: 100%;
      background-color: rgba(255, 254, 254, 0.068);
      height: 100%;
      font-size: 15px;
      font-family: poppins;
      
  } */
  
  .form-editEmp input{
    white-space: pre-wrap;
    margin: 7px 5px;
    border:1px solid  rgba(0, 165, 157, 0.548);
    padding: 8px;
    background-color: rgba(255, 254, 254, 0.068);
    border-radius: 5px;
    width: 70%;
    height: 30%;
    margin-left: 5px;
    font-size: 15px;
    font-family: poppins;
    
}