
.login{
    
    margin: 10rem auto;
    width: 35%;
    padding: 2rem;
    border: 1px solid rgba(25, 119, 122, 0.667);
    box-shadow: 10px 10px 5px #063d34;
    background-color:rgb(205, 253, 249);
}
.error{
    text-align: center;
    color: rgb(0, 183, 255);
    font-size: 20px;
}
input[type=text],input[type=email],input[type=password],select{
    width: 100%;
    margin: 1.5rem;
    padding: 12px 20px;
}
input[type=submit],label,h2{
    width: 50%;
    margin: 1.5rem;
}
input[type=submit]{
    padding: 12px 20px;
    background-color: rgba(5, 46, 49, 0.884);
    color: rgb(207, 240, 238);
    border-radius: 10px;
    
}
input[type=submit]:hover{
    background-color: rgb(35, 167, 172);
    color: rgb(12, 74, 85);
    cursor: pointer;
}
label,h2{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}